<?xml version="1.0"?>
<robot name="my_cylinder">
  <link name="base_link">
    <visual>
      <geometry>
        <cylinder length="0.6" radius="0.2"/>
      </geometry>
    </visual>
    <collision>
      <geometry>
        <cylinder length="0.6" radius="0.2"/>
      </geometry>
    </collisioin>
  </link>
  <gazebo reference="my_cylinder">
    <material>Gazebo/Blue</material>
  </gazebo>
</robot>