<?xml version="1.0" ?>
<robot xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor" xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller" xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface" xmlns:xacro="http://www.ros.org/wiki/xacro" name="allegro_hand_right">

    <xacro:property name="M_PI" value="3.1415926535897931" />

    <xacro:include filename="$(find ll4ma_robots_description)/urdf/allegro_biotac/allegro_hand_description_right.urdf" />

    <!-- generic simulator_gazebo plugins for starting mechanism control, ros time, ros battery -->


    <link name="world" />
    <joint name="arm_joint" type="fixed">
        <origin xyz="0.0425 0 0.0425" rpy="0 -1.57 0" />
        <parent link="world" />
        <child link="allegro_mount" />
    </joint>


</robot>